<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="css.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <style>
    body {
      background-color: #e0ebd2;
      background-repeat: no-repeat;
      height: auto;
      /* You must set a specified height */
      background-position: center;
      /* Center the image */
      background-repeat: no-repeat;
      /* Do not repeat the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
    }

    .footer {
    
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-image: url("2.jpg");
      background-color: red;
      color: white;
      text-align: center;
      text-decoration-style: solid;
    }

    #myBtn {
      display: none;
      position: fixed;
      bottom: 5px;
      right: 5px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: red;
      color: white;
      cursor: pointer;
      padding: 20px;
      border-radius: 50px;
    }

    #loginbutton {
      position: absolute;
      font-size: 18px;
      border:lightcyan;
      outline:lightgreen;
      color: white;
      padding: 10px;
      border-radius: 90px;
    }


    .login {
      position: absolute;
      text-align: center;
      top: 35px;
      right: 15px;
      text-decoration-style: solid;
    }

    #demo1 {
      text-align: left;
      padding: 20px;
    }

    #myBtn:hover {
      background-color: #555;
    }

    .button {
      position: relative;
      top: 1px;
      left: 16px;
    }

    .radio1 {
      position: absolute;
      top: 154px;
      left: 376px;
    }
  </style>
  <title>News Prettifier（Title）</title>
</head>

<body>

  <div class="footer">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>  
  </div>


  <div class="container-fluid">


    <div class="row">

      <div class="col-sm-11  bg-dark">

        <div class="p-20 flex-lg-{grow|shrink}-1 bd-highlight">

          <div class="p-3 mb-3 text-white" ; ondblclick="Origin()">
            <h1>{{.Title}}
              
            </h1>
          </div>
        </div>
      </div>

      <div class="col-sm-1 bg-dark">
        <div class="login">
          <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" id="loginbutton" class="btn btn-outline-danger text-danger"><a href="/login/{{ .Article_ID }}">Login</a></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- ................................................................................... -->


  <div class="container">
    <div class="row">

      <div class="button">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary ">
            <div onclick="Large()">
              <input type="radio" name="options" id="option1" autocomplete="off">Large
            </div>
          </label>


          <label class="btn btn-secondary" active>
            <div onclick="Medium()">
              <input type="radio" name="options" id="option2" autocomplete="off" checked> Medium
            </div>
          </label>


          <label class="btn btn-secondary">
            <div onclick="Small()">
              <input type="radio" name="options" id="option3" autocomplete="off"> Small
            </div>
          </label>
        </div>

      </div>
      <div class=" col-3">

      </div>

      <div class=" col-auto">

        <div style="color:rgba(33, 13, 82, 0.952);" ; ondblclick="Small()">
          <p>Text background colour :</p>
        </div>

      </div>

      <div class="col-sm-1">
        <div class="badge badge-dark">
          <input type="radio" name="radio_1" onclick="DarkBack()"> Dark
        </div>
      </div>

      <div class="col-sm-1">
        <div class="badge badge-primary">
          <input type="radio" name="radio_1" onclick="DarkBlueBack()" on> Blue
        </div>

      </div>

      <div class="col-sm-1">
        <div class="badge badge-light">
          <input type="radio" name="radio_1" onclick="WhiteBack()" checked> Light
        </div>

      </div>

      <div class="col-sm-1">
        <div class="badge badge-secondary">
          <input type="radio" name="radio_1" onclick="GrayBack()"> Gray
        </div>

      </div>
    </div>




    <div class="row">

      <div class="col-12">
        <div id="demo" style="height: auto; background-color: rgba(249, 248, 252, 0.822); ">
          <div class="h-100 d-inline-block" style="width:1100px;">
            <div id="demo1" style="color:rgba(1, 5, 14, 0.952);">
              <p> {{.Content}} </p>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="row">

      <div class="col-sm-7" style="color:rgba(202, 41, 55, 0.952);" ondblclick="Medium()">

        <p class="h1">

          <dl>
            <dt>Author:</dt>
            <dd>- {{.Author}}</dd>
          </dl>
        </p>

      </div>

      <div class="col-md-auto">

        <div class="d-flex bd-highlight mb-3" style="height: 80px;">
          <div class="p-2 flex-fill bd-highlight" ondblclick="Smaller()" style="color:rgba(30, 6, 247, 0.952);">
            <p> Article scrapped from ：<a href="{{.Origin}}" class="alert-link">Please
                Click Me ~ 请点击我 ~</a>
            </p>
          </div>

        </div>
      </div>

    </div>


  </div>




  <!-- Optional JavaScript -->

  <script>

    var size = [0,1,2];
    var current_size = 0;
    var colour = [0,1,2,3];
    var current_colour = 0;


    function DarkBack() {
      document.getElementById("demo").style = "background-color: rgba(11, 14, 12, 0.822);"
      document.getElementById("demo1").style = "color:rgba(249, 250, 252, 0.952);"
      if (document.getElementById("option1").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-large";
      }
      else if (document.getElementById("option2").checked == true) {
        document.getElementById("demo").style.fontSize = "larger";
      }
      else if (document.getElementById("option3").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-small";
      }
    }

    function Large() {
      document.getElementById("demo").style.fontSize = "xx-large";
    }

    function Small() {
      document.getElementById("demo").style.fontSize = "xx-small";
    }

    function Origin() {
      document.getElementById("demo").style.fontSize = "initial";
    }

    function Medium() {
      document.getElementById("demo").style.fontSize = "larger";
    }

    function Smaller() {
      document.getElementById("demo").style.fontSize = "smaller";
    }

    function DarkBlueBack() {
      document.getElementById("demo").style = "background-color: rgba(12, 6, 68, 0.822);"
      document.getElementById("demo1").style = "color:rgba(179, 189, 209, 0.952);"
      if (document.getElementById("option1").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-large";
      }
      else if (document.getElementById("option2").checked == true) {
        document.getElementById("demo").style.fontSize = "larger";
      }
      else if (document.getElementById("option3").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-small";
      }
    }

    function GrayBack() {
      document.getElementById("demo").style = "background-color: rgba(192, 189, 212, 0.822);"
      document.getElementById("demo1").style = "color:rgba(13, 14, 13, 0.911);"
      if (document.getElementById("option1").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-large";
      }
      else if (document.getElementById("option2").checked == true) {
        document.getElementById("demo").style.fontSize = "larger";
      }
      else if (document.getElementById("option3").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-small";
      }
    }

    function WhiteBack() {
      document.getElementById("demo").style = "background-color: rgba(249, 248, 252, 0.822);"
      document.getElementById("demo1").style = "color:rgba(13, 14, 13, 0.911);"
      if (document.getElementById("option1").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-large";
      }
      else if (document.getElementById("option2").checked == true) {
        document.getElementById("demo").style.fontSize = "larger";
      }
      else if (document.getElementById("option3").checked == true) {
        document.getElementById("demo").style.fontSize = "xx-small";
      }
    }

    function DarkText() {
      document.getElementById("demo1").style = "color:rgba(13, 14, 13, 0.911);"
    }

    function BlueText() {
      document.getElementById("demo1").style = "color:rgba(75, 82, 182, 0.952);"
    }

    function WhiteText() {
      document.getElementById("demo1").style = "color:rgba(249, 250, 252, 0.952);"
    }

    function GrayText() {
      document.getElementById("demo1").style = "color:rgba(179, 189, 209, 0.952);"
    }

    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.documentElement.scrollTop = 0;
    }


  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>
