<div class="log-form">
    <h1>Index</h1>
    <hr>
    <small>User: {{ .Owner }}</small>
    <small>Size: {{ .Size }}</small>
    <small>Color: {{ .Color }}</small>
    <select>
        {{range .Articles}}
            <option>{{ .Article_ID }}</option>
        {{end}}
    </select>
    <form method="post" action="/logout/{{.Current_Article.Article_ID}}">
        <button type="submit">logout</button>
    </form>
    <h1>{{.Current_Article.Title}}</h1>
    <ul>
        <li>{{.Current_Article.Author}}</li>
        <li>{{.Current_Article.Content}}</li>
        <li>{{.Current_Article.Origin}}</li>
    </ul>
</div>